# Ignore Gradle project-specific cache directory
.gradle/
.idea/
.continue/
.claude/
.vscode/

# Ignore Gradle build output directory
build/
out/
reportportal.properties
reportportal.lock
reportportal.sync

/src/

